.aui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0.5rem;
    position: relative;
}
.aui-flex-color {
    margin: 0 1rem 0.5rem 1rem;
    border-radius: 5px;
    padding: 3px 15px;
    background: #f5f5f5;
}

.aui-news-sml img {
    width: 28px;
    height: auto;
    display: block;
    border: none;
}
.aui-flex-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    font-size: 14px;
    color: #333;
}
.box {
    height: 20px;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
}
.t_news {
    height: 20px;
    color: #fff;
    overflow: hidden;
    position: relative
}

.news_li,.swap {
    line-height: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 1px
}

.news_li a,.swap a {
    color: #333;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 0.8rem;
}

.news_li a em {
    font-style: normal;
}

.news_li li {
    color: #676767;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
    height: 20px;
    padding-left: 5px;
    line-height: 20px;
}
.swap {
    top: 20px
}

.swap li {
    color: #676767;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
    height: 20px;
    padding-left: 5px;
    line-height: 20px;
}
.aui-arrow {
    position: relative;
    padding-right: 0.8rem;
}
.swap li a {
    color: #676767;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
    height: 20px;
    line-height: 20px;
}

.aui-title h1 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.2rem;
    color: #323232;
}
.aui-title-one {
   padding-top: 0rem;
   padding-bottom: 0.3rem;
}
.aui-list-theme-box {
    padding: 0 10px;
    overflow: hidden;
    position: relative;
}

.aui-list-item {
    width: 48%;
    float: left;
    margin: 0 1% 2% 1%;
    border-radius: 5px;
    background: #fff;
    display: block;
    overflow: hidden;
}

.aui-list-theme-img {
    height: auto;
    width: 100%;
    position: relative;
}

.aui-list-theme-img img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}

.aui-list-theme-message {
    background: #f9f9f9;
    padding: 0.2rem 0.5rem 0.8rem 0.5rem;
}

.aui-list-theme-title {
    color: #333333;
    font-size: 0.92rem;
    margin: 0.3rem 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-weight: normal;
    text-overflow: ellipsis;
}

.aui-list-theme-message p {
    color: #6e6e6e;
    font-size: 0.8rem;
}

.aui-list-theme-message span em {
    background: #fe8a03;
    border-radius: 3px;
    color: #fff;
    font-size: 0.65rem;
    padding: 0 0.3rem;
    font-style: normal;
    margin-right: 0.2rem;
}

.aui-list-theme-message span {
    color: #6e6e6e;
    font-size: 0.8rem;
    font-style: normal;
    margin-bottom: 0.8rem;
    display: block;
}

.aui-list-theme-message h4 {
    color: #e91718;
    font-size: 0.9rem;
    font-style: normal;
    margin-top: 0.3rem;
}

.aui-list-theme-message i {
    color: #999;
    font-size: 0.8rem;
    font-style: normal;
    text-decoration: line-through;
}